@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sura&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Koh Santepheap', cursive;
    color: #3D2F59;
}

body#about img{
    width: 15em;
}

p {
    max-width: 50em;
    color: #2B3459;
    font-family: 'Sura', sans-serif;
}

ul, span:not(.position) {
    color: #2B3459;
    font-family: 'Sura', sans-serif;
}

a:link {
    color: #2B3459;
}

a:visited {
    color: #264B59;

}

.dates {
    font-style: italic;
    color: #2B3459;
    font-family: 'Sura', sans-serif;
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav  nav"
                         "main  main"
                         "foot foot";
    /* grid-template-columns: 1fr 7fr; */
    grid-template-rows: auto auto 1fr auto;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    background-color: #a8b9bf;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
    color: #3D2F59;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
    max-height: 170px;
    width: 265px;
}

@media screen and (min-width: 25em) {
    body{
        grid-template-areas: "head head"
                             "nav  main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}